<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students Record</title>
</head>
<body bgcolor="silver">
<h1 align="center">Students Details</h1>
    <form action="/" method="post">
        <label for="name">Name:</label>
        <input id="name" type="text" name="name"><br><br>
            <label for="cls">Class:</label>
            <input id="cls" type="text" name="cls"><br><br>
        <label for="mark">Total Mark:</label>
        <input id="mark" type="number" name="mark" placeholder="<1000"><br><br>
            <label for="grade">Grade:</label>
        <input id="grade" type="text" name="grade" placeholder="S,A,B,C,D or E"><br><br>

        <input type="submit" value="save">




</form>

</body>
</html>